 <!-- Section Title -->
 <div class="container section-title" data-aos="fade-up">
    <h2>Resume</h2>
    <p>As a seasoned software engineer with over 8 years of experience in designing and developing robust web applications, I specialize in .NET technologies and front-end frameworks like Angular. Throughout my career, I've successfully delivered scalable and high-performance solutions across various industries. With expertise in full-stack development and team leadership, I thrive in fast-paced environments, consistently delivering innovative solutions that meet business goals and exceed client expectations.</p>

    </div><!-- End Section Title -->

  <div class="container">

    <div class="row">

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Sumary</h3>

        <div class="resume-item pb-0">
          <h4>Tutul Chakma</h4>
          <p><em>Innovative and deadline-driven .NET Developer with 8+ years of experience designing and developing user-centered web applications and software solutions from initial concept to final, polished product. Skilled in creating efficient, scalable, and secure applications, leveraging both front-end technologies like Angular and back-end frameworks such as .NET Core. Known for delivering high-quality, reliable code within strict deadlines while ensuring optimal user experience and performance.</em></p>
          <ul>
            <li>Dhaka,Bdngladesh</li>
            <li>+8801914570198</li>
            <li>tutulcou&#64;gmail.com</li>
          </ul>
        </div><!-- Edn Resume Item -->

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Bachelor of Computer Science &amp; Engineering</h4>
          <h5>2009 - 2013</h5>
          <p><em>Comilla University,Commilla,Bangladesh</em></p>
          <p><a href="https://www.cou.ac.bd" target="_blank">www.cou.ac.bd</a></p>
          <p><em>Comilla University is a public university located at Kotbari, Cumilla, Bangladesh. The university was constructed on 50 acres (200,000 m2) of land at Lalmai Bihar, Moynamoti. Comilla University is affiliated by University Grants Commission, Bangladesh.</em></p>
        </div><!-- Edn Resume Item -->


      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Sr. Software Engineer</h4>
          <h5>NOV,2023 - Present</h5>
          <p><a href="https://nextitltd.com" target="_blank">Next IT Ltd.</a></p>
          <p><em>Gulshan-1,Dhaka,Bangladesh </em></p>
          <ul>
            <li>Lead in the design, development, and implementation of the software development</li>
            <li>Delegate tasks to the 7 members of the developemnt team and provide counsel on all aspects of the project. </li>
            <li>Supervise the assessment of code review in order to ensure quality and accuracy of the task</li>
          </ul>
        </div><!-- Edn Resume Item -->

        <div class="resume-item">
          <h4>Software Engineer</h4>
          <h5>OCT,2019 - OCT,2023</h5>
          <p><a href="https://www.royalgreen.net" target="_blank">Royal Green Ltd.</a></p>
          <p><em>Royal Green Ltd,114 Motijheel C/A,Level-(9,11,12,17,18),Dhaka-1000 </em></p>
          <ul>
            <li>Developed numerous task assigned by team leader.</li>
            <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
            <li>Recommended and consulted with clients on the most appropriate feature development</li>
          </ul>
        </div><!-- Edn Resume Item -->

        <div class="resume-item">
            <h4>Software Engineer</h4>
            <h5>AUG,2016 - AUG,2019</h5>
            <p><a href="https://shantaholdings.com" target="_blank">Shanta Holdings Ltd.</a></p>
            <p><em>187,188/B, Shanta Forum, East Tower, Level 20-22, 22 Bir Uttam Mir Shawkat Sarak, Dhaka 1208</em></p>
            <ul>
              <li>Developed numerous task assigned by Business Analyst.</li>
              <li>Managed up to 2 projects or tasks at a given time while under pressure</li>
              <li>Recommended and consulted with clients on the most appropriate feature development</li>
            </ul>
          </div><!-- Edn Resume Item -->
          
          <div class="resume-item">
            <h4>Jr. Software Engineer</h4>
            <h5>MAY,2015 - JUL,2016</h5>
            <p><a href="https://www.vintageitltd.com/" target="_blank">Vintage IT Ltd.</a></p>
            <p><em>House: 33, Unit: B5, Garib-E-Newaj Avenue,Sector: 11, Uttara, Dhaka </em></p>
            <ul>
              <li>Developed numerous task and feature assigned by team leader.</li>
              <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
              <li>Recommended and consulted with clients on the most appropriate feature development</li>
            </ul>
          </div><!-- Edn Resume Item -->
      </div>

      

    </div>

  </div>