<!-- Section Title -->
<div class="container section-title" data-aos="fade-up">
    <h2>About</h2>
    <p>I am a passionate Senior Software Engineer specializing in building robust, scalable web applications with a .NET backend and Angular frontend. With over 8 years of experience in the tech industry, I’ve honed my skills in full-stack development, design patterns, and integrating cutting-edge technologies.</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4 justify-content-center">
      <div class="col-lg-4">
        <img src="assets/img/my-profile-img.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 content">
        <h2>.Net Developer.</h2>
        <p class="fst-italic py-3">
            I am an experienced .NET developer with strong expertise in building robust web applications using Angular for front-end development. I specialize in creating efficient, scalable, and secure software solutions, following best practices in software design and development. With a passion for problem-solving and continuous learning, I aim to deliver high-quality solutions that meet business needs.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>2 May 1991</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span></span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+8801914570198</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Dhaka,Bangladesh</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>35</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>BSc. in CSE</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>tutulcou&#64;gmail.com</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
            </ul>
          </div>
        </div>
        <p class="py-3">
            I bring a deep understanding of back-end technologies like .NET Core, ASP.NET MVC, and Entity Framework, combined with front-end frameworks like Angular. With experience in full-stack development, I ensure seamless integration between user interfaces and server-side logic, delivering applications with optimal performance and security.
        </p>
      </div>
    </div>

  </div>